.sidebar {
    float: right;

}
#me {
    color: hotpink;
    opacity: 0.3;
}
#ck{
font-style: italic;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: right;
}
li a{
    display: block;
    padding: 8 px;
    background-color: lightslategray;
}