.sidebar {
    float: right;
    width: 700px;
    border: 15px;
    padding: 50px;
    margin: 20px;

}
#intro {
    font-size:150;
}
h2 {
    color: hotpink;
    opacity: 0.3;
    font-variant-caps: titling-caps;
    
}
#ck{
font-style: italic;
}
.space{
    float: right;
    width: 20px;
    height:20px;
}
body{
  font-size: 120;
  border: 2px ;
  padding: 6px;
   margin: 20px;
   background-color: gainsboro;
   font: 1em sans-serif;
}
.imge{

    float: right;

}