.sidebar {
    float: right;

}
h2 {
    color: hotpink;
    opacity: 0.3;
    font-size: 40;
}
#ck{
font-style: italic;
}
.space{
    float: right;
    width: 20px;
    height:20px;
}
body{
  font-size: 60;
  border: 2px ;
  padding: 6px;
   margin: 20px;
   background-color: lightslategray;
}